body {
    background-color: #edecd6;
}

.fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    border-width: 0 0 1px;
}

header {
    height: 50px;
    background-color: #3d4450;
    border-color: #080808;

}

header nav a {
    color: #fff;
    padding: 0 1.5rem;
}

header nav a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #000;
}

header a.logo {
    padding-top: 10px;
    font-size: 1rem;
}

header a.index {
    padding-top: 10px;
    font-size: 1rem;
}

header .container .nav_cate {
    padding-top: 10px;
    font-size: 1rem;
}

header .container .nav {
    height: 50px;
}

main {
    margin-top: 90px;
}

.col-md-8 {
    background-color: #efefef;
}

.p-3 {
    background-color: #efefef;
}

.search {
    margin-top: 5px;
}

.breadcrumb {
    margin-top: 15px;
}
