{% load static %}
<html>
<head>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>
<header class="fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <nav class="nav">
                    <a class="logo" href="/">Typeidea</a>
                    <a class="index" href="/">首页</a>
                    {% for cate in nav_cates %}
                        <a class="nav_cate" href="{% url 'category' cate.id %}">{{ cate.name }}</a>
                    {% endfor %}
                </nav>
            </div>
            <div class="col-3">
                <div>
                    <form action="/" method="GET" class="input-group search">
                        <input type="text" name="query" class="form-control" placeholder="Search for..."
                               aria-label="Search for...">
                        <span class="input-group-btn">
                                <input type="submit" class="btn btn-secondary" value="Go!">
                            </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</header>

<div class="container banner">
    <h3>typeidea blog - by whister</h3>
</div>


<main role="main" class="container">
    <div class="row">
        <div class="col-md-8 blog-main">
            {% block content %}
            {% endblock %}
        </div>

        <div class="col-md-4 blog-sidebar">
            <div class="p-3">
                {% for side in side_bars %}
                    <h4 class="font-italic">{{ side.title }}</h4>
                    <div>
                        {% if side.display_type == 1 %}
                            {% autoescape off %}
                                {{ side.content }}
                            {% endautoescape %}
                        {% elif side.display_type == 2 %}
                            <ul>
                                {% for post in recently_posts %}
                                    <li><a href="{% url 'detail' post.id %}">{{ post.title }}</a></li>
                                {% endfor %}
                            </ul>
                        {% elif side.display_type == 3 %}
                            <ul>
                                {% for post in hot_posts %}
                                    <li><a href="{% url 'detail' post.id %}">{{ post.title }}</a></li>
                                {% endfor %}
                            </ul>
                        {% elif side.display_type == 4 %}
                            {% for comment in recently_comments %}
                                <li>{{ post.title }}</li>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>

<hr>
<footer class="blog-footer text-center">
    <p>Blog built by <a
            href="https://github.com/bgmnbear">@lazybear</a>.
    </p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>

</body>

</html>
